.Add {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 94, 0, 0.281);
  border-radius: 10px;
}

.Edit {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(127, 170, 9, 0.548);
  border-radius: 10px;
}

.UserCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.NoPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #8b0000;
}

.cards {
  width: 1000px;
  height: 400px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardTittle {
  display: flex;
  align-items: center;
  text-align: center;
}

  @media only screen and (max-width: 440px) {
    .Add {
    width: 400px;
    }
  }

  
  @media only screen and (max-width: 900px) {
    .NoPage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 50vh;
      background-color: #8b0000;
    }
  }

  
 
  


